<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">

    <test name="LoginTest" parallel="false">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
    <test name="NavigationTest" parallel="false">
        <classes>
            <class name="NavigationTest"/>
        </classes>
    </test>
</suite>